
html,body{
    margin: 0px;

}

.main{
    /*background-color: gold;*/
    height:100%;

}
.rowall{
    height:100%;
    display: flex;
    /*overflow: hidden;*/
}
.leftside{
    /*height:100%;*/
    background-image: url(../jpg/leftright2.JPG);
    background-repeat: no-repeat;
    background-size: cover;

    background-position:  10%;
}
.rightside{
    /*height:100%;*/
    background-image: url(../jpg/leftright2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:90% ;
}
.center{
    min-height: 1000px !important;
    /*height:100%;*/
    background-image: url(../jpg/center2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 661px;
    width: 100%;
}
.rowheader{
    margin: 10px;
    height:100px;
    /*padding:15%;*/
    /*background-color: white;*/
}
.colheader{
    display: table;
    height: 100%;
    width: 100%;
}
.divheader{

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: #6699ff;
    text-shadow: 2px 2px 2px black, 2px 2px 20px blue;
    background-image: url(../jpg/header.png);
    background-repeat: no-repeat;
    background-position: center;
    /*border: 3px solid gray;*/
    border-radius: 20px;
    height: 100%;
    width: 100%;
}
.rowspace{
    height: 50px;
}
.rowbutton{
    text-align: center;
    /*border:1px solid black;*/
/*    ?height: 100px;*/
    /*padding: 0px 15px 0px 15px;*/

}
.pad{
    padding-top: 5px;
    padding-bottom: 10px;
}
.selectspan{
    color:#4c4c4c;
    font-size: 24px;
    font-weight: bold;
    text-shadow:0px 0px 3px white,0px 0px 4px black,0px 0px 10px white;
}
.colselect{
    background-image: url(../jpg/headerback2.png);
    /*border:1px solid black;*/
    font-size: 16px;
    font-weight: bold;
    text-shadow:0px 0px 3px black;
    text-align: center;
    color:white;
    /*margin-top: 37px;*/
}
.roombutton{
    /*height: 100%;*/
    color:black;
    /*width:70px;*/
    /*text-align: left;*/
    border-radius: 5px;
    /*float: left;*/
}
.addrow {

    text-align: center;
}
.addmar{
    margin: auto 3px;
}
.addbutton{
    font-weight: bold;
    border-radius: 5px;
}
.rowmain{
    margin-top: 5px;
    border: 3px solid whitesmoke;
    border-radius: 20px;
    background-image:  url('../jpg/headerback2.PNG');
    padding: 15px 0px;
}

.location{
    border: 4px solid darkgray;
    border-radius: 5px;
    background-image: url('../jpg/background.PNG');
    background-position: center;
    margin: auto auto 15px auto;
    width: 250px;
    height: 177px;
}

.confooter{

    height: 40px;
    clear: both;
    background-color: #666666;
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;

}
.colfooter{
    padding-top: 10px;
}